#slider {
    margin-top:60px;
}
#slider .item {
    height:100%;
    width:70vw;
}

.carousel-caption {
    font-size: 18px;
    text-align: center;
}

body {
    background-color:#ffc95e;
}

.listevents {
    font-size:18px;
    align-content:center;
    background-color: #5e8eff;
}
